*{
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #2b7d2f;
}
.login-form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.show-password {
    cursor: pointer;
}
.guide{
    color: #2b7d2f;
    font-weight: bold;
}
.co{
    color: #959722;
    font-weight: bold;

}
.nav-link{
    font-weight: bold;
}